#information_about_person_div{
position:relative;
top:140px;
width:100%;
z-index:1;

}

#information_about_person{
  background: rgba(40,42,52, 0.5);
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 80%;
color:white;
    font-weight: bold;
      font-size:x-large;
}

.image{
margin:5%;
 float: left; /* Обтекание по правому краю */
}

.img{
width:240px;
height:300px;

}

.input-file li{
  list-style-type: none;
}



.table{
margin-top:5%;
margin-left:5%;
float: left; /* Обтекание по правому краю */
color:white;
font-weight: bold;
font-size:x-large;
}

#table tr td{
padding:5px;
margin:10px;
}





.spoiler-title2{
position:relative;
left:5%;


}



.spoiler-title3{
position:relative;
left:5%;


}

.spoiler-title4{
position:relative;
left:5%;


}

.table2{
 clear: left; /* Обтекание по правому краю */
}

.table3{
 clear: left; /* Обтекание по правому краю */
}

.table4{
 clear: left; /* Обтекание по правому краю */
}





.icon{
float: left; /* Обтекание по правому краю */
cursor:pointer;
}


.ntr{
margin-top:4%;
margin-left:7%;
float: left; /* Обтекание по правому краю */
cursor:pointer;
color:white;
font-weight: bold;
font-size:x-large;
}
.input td{
 background:linear-gradient(#3D7EAA, #FFE47A) center bottom; /*OR bottom right OR bottom left*/
}
.inputBus td{
 background:linear-gradient(#3D7EAA, #FFE47A) bottom left; /*OR bottom right OR bottom left*/

}

.input td,
.inputBus td{
    background-size: 0% 2px; /*width:0% height:2px*/
    background-repeat:no-repeat; /* Don't repeat !!*/
    transition: all 0.45s;
}


.input td:hover,
.inputBus td:hover{
  background-size: 100% 2px; /*width:100% height:2px*/
  cursor:pointer;
}

.inputBus .ntr{
          margin-bottom:4%;
          margin-left:7%;
          float: left; /* Обтекание по правому краю */
          cursor:pointer;
          color:white;
          font-weight: bold;
          font-size:x-large;
          }



svg{
opacity:0;
}



h3 {
margin:1px;
}

